@import url('https://rsms.me/inter/inter-ui.css');
$font-family-base:'Inter UI';
$border-radius:               0px;
$border-radius-lg:            0px;
$border-radius-sm:            0px;
@import '~bootstrap/scss/bootstrap.scss';